:80 {
    handle {
        reverse_proxy nodejs-server:8000 {
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forward-Proto {scheme}
        }
    }
}

# This Caddyfile configures a reverse proxy to the Node.js server running in the Docker container.


